.aa{
   
    display: flex;
    flex-direction: row;
    height: 200px;
    width: 300px;
    text-align: center;
    align-items: center;
   gap: 20%;
     padding: 90px;
    
}
img{
    height: 120px;
    width: 120px;
    border: 3px solid gray;
    border-radius: 50px;
}
.bb{
 border: 5px solid black; 
border-radius: 8px;
height: 300px;
width: 600px;
background-color: coral;

}