.dog-container {
    text-align: center;
    padding: 20px;
    background-color: #E8F9FF;
    padding: 20px;
  }
  
  img {
    max-width: 300px;
    border-radius: 10px;
  }
  
  button {
    padding: 8px;
    margin-top: 10px;
    cursor: pointer;
  }
  